/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
  background-color: #F4F4F4;
}

/*Fix angular material mat-checkbox no margin*/
span.mat-checkbox-label {
  padding-left: 5px;
}
